{% extends 'portfolio/layout.html'%}

{% block content %}
  <!-- ====== HERO / HOME ====== -->
  <section class="hero">
    <div class="container">
      <h1>Hi, I’m <strong>Aashish Mali</strong> 👋</h1>
      <p>Python Developer | Flask | REST API | MySQL</p>
      <a href="#projects" class="btn btn-dark mt-3 me-2">View My Projects</a>
      <a href="#contact" class="btn btn-outline-dark mt-3">Contact Me</a>
      <div class="mt-4">
        <a href="mailto:aashish.d.mali@gmail.com" class="text-white me-3"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://linkedin.com/in/maliashish98" target="_blank" class="text-white me-3"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/maliashish98" target="_blank" class="text-white"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </section>
{% endblock %}