{% extends 'portfolio/layout.html'%}

{% block title %}
<title>Aashish Mali | Projects</title>
{% endblock title %}

{% block content %}
<!-- ====== PROJECTS ====== -->
  <section id="projects" class="container">
    <h2 class="section-title">Projects</h2>
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card p-3">
          <img src="" class="card-img-top rounded" alt="BlogStream">
          <div class="card-body">
            <h5 class="card-title">BlogStream</h5>
            <p class="card-text">A full-featured blogging web application with authentication, CRUD, and responsive design using Flask, SQLAlchemy ORM, HTML, CSS, and JavaScript.</p>
            <p><strong>Tech Stack:</strong> Flask, SQLAlchemy, SQLite</p>
            <a href="https://github.com/maliashish98" target="_blank" class="btn btn-outline-primary btn-sm">View Code</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}