{% extends 'portfolio/layout.html'%}

{% block title %}
<title>Aashish Mali | skills</title>
{% endblock title %}

{% block content %}
<!-- ====== SKILLS ====== -->
  <section id="skills" class="bg-light">
    <div class="container">
      <h2 class="section-title">Technical Skills</h2>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Python</strong></p>
          <div class="progress mb-3"><div class="progress-bar bg-primary" style="width: 90%;"></div></div>

          <p><strong>Flask</strong></p>
          <div class="progress mb-3"><div class="progress-bar bg-primary" style="width: 85%;"></div></div>

          <p><strong>SQLAlchemy ORM</strong></p>
          <div class="progress mb-3"><div class="progress-bar bg-primary" style="width: 80%;"></div></div>
        </div>
        <div class="col-md-6">
          <p><strong>MySQL</strong></p>
          <div class="progress mb-3"><div class="progress-bar bg-primary" style="width: 80%;"></div></div>

          <p><strong>Git / GitHub</strong></p>
          <div class="progress mb-3"><div class="progress-bar bg-primary" style="width: 75%;"></div></div>

          <p><strong>HTML / CSS / JavaScript</strong></p>
          <div class="progress mb-3"><div class="progress-bar bg-primary" style="width: 70%;"></div></div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}